// .exchangeComponent{
//     h3 {
//         font-family: "RedHatDisplay Bold";
//         font-size: 24px;
//     }
//     p{
//         color:#9C9C9C;
//         font-family: "RedHatDisplay Regular";
//         font-size: 14px;
//     }
// }


.exchangeComponent {
    background-color: #f8f8f8;
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    padding: 20px 28px;
  
    h3 {
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 10px;
    }
  
    .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
      height: 36px;
      padding: 6px 12px;
      font-size: 14px;
      border: 1px solid #d9d9d9;
      border-radius: 4px;
    }
  
    .ant-select-arrow {
      font-size: 14px;
      color: #666;
    }
  
    .ant-select-selection-item-icon {
      width: 24px;
      height: 24px;
      margin-right: 6px;
      vertical-align: middle;
    }
  
    .ant-input {
      height: 36px;
      padding: 6px 12px;
      font-size: 14px;
      border: 1px solid #d9d9d9;
      border-radius: 4px;
    }
  
    .ant-space {
      margin-top: 20px;
      margin-bottom: 10px;
    }
  
    .ant-space-item:not(:last-child) {
      margin-right: 10px;
    }
  
    .ant-space-item:nth-child(3) {
      font-size: 20px;
      font-weight: 600;
    }
  
    .ant-btn {
      height: 36px;
      padding: 0 15px;
      font-size: 14px;
      border-radius: 4px;
      border: none;
    }
  
    .bg-green-500 {
      background-color: #38a169;
    }
  
    .hover\:bg-blue-800:hover {
      background-color: #38a169;
    }
}
  