.exchangeComponent{
    h3 {
        font-family: "RedHatDisplay Bold";
        font-size: 24px;
    }
    p{
        color:#9C9C9C;
        font-family: "RedHatDisplay Regular";
        font-size: 14px;
    }
}