//Red Hat Display
$font-black: "RedHatDisplay Black";
$font-blackitalic: "RedHatDisplay BlackItalic";
$font-bold: "RedHatDisplay Bold";
$font-bolditalic: "RedHatDisplay BoldItalic";
$font-extrabold: "RedHatDisplay ExtraBold";
$font-extrabolditalic: "RedHatDisplay ExtraBoldItalic";
$font-italic: "RedHatDisplay Italic";
$font-light: "RedHatDisplay Light";
$font-lightitalic: "RedHatDisplay LightItalic";
$font-medium: "RedHatDisplay Medium";
$font-mediumitalic: "RedHatDisplay MediumItalic";
$font-regular: "RedHatDisplay Regular";
$font-semibold: "RedHatDisplay SemiBold";
$font-semibolditalic: "RedHatDisplay SemiBoldItalic";



